/* /Shared/Error.razor.rz.scp.css */
html[b-qjg23fuso3],
body[b-qjg23fuso3]{
  margin: 0px;
  overflow: hidden;
}

div[b-qjg23fuso3]{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  overflow: hidden;
}

.wrap[b-qjg23fuso3]{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2[b-qjg23fuso3]{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText-b-qjg23fuso3 3s ease-in 3.5s forwards, flicker4-b-qjg23fuso3 5s linear 7.5s infinite, hueRotate-b-qjg23fuso3 6s ease-in-out 3s infinite;
}

#svgWrap_1[b-qjg23fuso3],
#svgWrap_2[b-qjg23fuso3]{
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1[b-qjg23fuso3],
#svgWrap_2[b-qjg23fuso3],
div[b-qjg23fuso3]{
  animation: hueRotate-b-qjg23fuso3 6s ease-in-out 3s infinite;
}

#id1_1[b-qjg23fuso3],
#id2_1[b-qjg23fuso3],
#id3_1[b-qjg23fuso3]{
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2[b-qjg23fuso3],
#id2_2[b-qjg23fuso3],
#id3_2[b-qjg23fuso3]{
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1[b-qjg23fuso3]{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3-b-qjg23fuso3 2.5s ease-in-out 0s forwards, flicker3-b-qjg23fuso3 4s linear 4s infinite;
}

#id2_1[b-qjg23fuso3]{
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2-b-qjg23fuso3 2.5s ease-in-out 0.5s forwards, flicker2-b-qjg23fuso3 4s linear 4.5s infinite;
}

#id1_1[b-qjg23fuso3]{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1-b-qjg23fuso3 2.5s ease-in-out 1s forwards, flicker1-b-qjg23fuso3 4s linear 5s infinite;
}

@keyframes drawLine1-b-qjg23fuso3 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine2-b-qjg23fuso3 {
  0%  {stroke-dashoffset: -735px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine3-b-qjg23fuso3 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes flicker1-b-qjg23fuso3{
  0%  {stroke: #ff005d;}
  1%  {stroke: transparent;}
  3%  {stroke: transparent;}
  4%  {stroke: #ff005d;}
  6%  {stroke: #ff005d;}
  7%  {stroke: transparent;}
  13% {stroke: transparent;}
  14% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker2-b-qjg23fuso3{
  0%  {stroke: #ff005d;}
  50% {stroke: #ff005d;}
  51% {stroke: transparent;}
  61% {stroke: transparent;}
  62% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker3-b-qjg23fuso3{
  0%  {stroke: #ff005d;}
  1%  {stroke: transparent;}
  10% {stroke: transparent;}
  11% {stroke: #ff005d;}
  40% {stroke: #ff005d;}
  41% {stroke: transparent;}
  45% {stroke: transparent;}
  46% {stroke: #ff005d;}
  100%{stroke: #ff005d;}
}

@keyframes flicker4-b-qjg23fuso3{
  0%  {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  30% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  31% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  32% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  36% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  37% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  41% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  42% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  85% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  86% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  95% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  96% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes fadeInText-b-qjg23fuso3{
  1%  {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  70% {color: #ff005d;text-shadow:0px 0px 14px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes hueRotate-b-qjg23fuso3{
  0%  {
    filter: hue-rotate(0deg);
  }
  50%  {
    filter: hue-rotate(-120deg);
  }
  100%  {
    filter: hue-rotate(0deg);
  }
}
/* /Shared/Footer.razor.rz.scp.css */

*[b-r2lrl4drzn] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.footer[b-r2lrl4drzn] {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 250px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon[b-r2lrl4drzn],
.menu[b-r2lrl4drzn] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item[b-r2lrl4drzn],
.menu__item[b-r2lrl4drzn] {
  list-style: none;
}

.social-icon__link[b-r2lrl4drzn] {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover[b-r2lrl4drzn] {
  transform: translateY(-10px);
}

.menu__link[b-r2lrl4drzn] {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover[b-r2lrl4drzn] {
  opacity: 1;
}

.footer p[b-r2lrl4drzn] {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave[b-r2lrl4drzn] {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1[b-r2lrl4drzn] {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves-b-r2lrl4drzn 4s linear infinite;
}

.wave#wave2[b-r2lrl4drzn] {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate-b-r2lrl4drzn 4s linear infinite !important;
}

.wave#wave3[b-r2lrl4drzn] {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves-b-r2lrl4drzn 3s linear infinite;
}

.wave#wave4[b-r2lrl4drzn] {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate-b-r2lrl4drzn 3s linear infinite;
}

@keyframes animateWaves-b-r2lrl4drzn {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate-b-r2lrl4drzn {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}











/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ahka13b8tw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ahka13b8tw] {
    flex: 1;
}

.sidebar[b-ahka13b8tw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ahka13b8tw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ahka13b8tw]  a, .top-row[b-ahka13b8tw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ahka13b8tw]  a:hover, .top-row[b-ahka13b8tw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ahka13b8tw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ahka13b8tw] {
        display: none;
    }

    .top-row.auth[b-ahka13b8tw] {
        justify-content: space-between;
    }

    .top-row[b-ahka13b8tw]  a, .top-row[b-ahka13b8tw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ahka13b8tw] {
        flex-direction: row;
    }

    .sidebar[b-ahka13b8tw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ahka13b8tw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ahka13b8tw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ahka13b8tw], article[b-ahka13b8tw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/Res.razor.rz.scp.css */
*[b-4cdje1my02] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-4cdje1my02] {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}
@media (min-width: 800px) {
    .container[b-4cdje1my02]{
        margin-left:230px;
    }
}

img[b-4cdje1my02] {
    width: 30%;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
}

.container[b-4cdje1my02] {
    max-width: 600px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

    .container:hover img[b-4cdje1my02] {
        opacity: 0.3;
    }

    .container img:hover[b-4cdje1my02] {
        transform: perspective(800px) rotateY(0deg);
        opacity: 1;
    }
/* /Shared/Services.razor.rz.scp.css */

a[b-oftte9c0yz] {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

p[b-oftte9c0yz] {justify-content: start;
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

section[b-oftte9c0yz] {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
h1[b-oftte9c0yz]{
    align-items:start;
}

.section-lead[b-oftte9c0yz] {
font-size:19px
}

.service a[b-oftte9c0yz] {
  color: #5b7abb;
  display: block;
}

.service h4[b-oftte9c0yz] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}


.services-grid[b-oftte9c0yz] {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service[b-oftte9c0yz] {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover[b-oftte9c0yz] {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i[b-oftte9c0yz] {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i[b-oftte9c0yz],
.service1 h4[b-oftte9c0yz],
.service1 .cta[b-oftte9c0yz] {
  color: #42b7ca;
}

.service1:hover[b-oftte9c0yz] {
  border: 2px solid #42b7ca;
}

.service2 i[b-oftte9c0yz],
.service2 h4[b-oftte9c0yz],
.service2 .cta[b-oftte9c0yz] {
  color: #425fca;
}

.service2:hover[b-oftte9c0yz] {
  border: 2px solid #425fca;
}

.service3 i[b-oftte9c0yz],
.service3 h4[b-oftte9c0yz],
.service3 .cta[b-oftte9c0yz] {
  color: #9c42ca;
}

.service3:hover[b-oftte9c0yz] {
  border: 2px solid #9c42ca;
}

.service .cta span[b-oftte9c0yz] {
  font-size: 0.6rem;
}

.service > *[b-oftte9c0yz] {
  flex: 1 1 100%;
}

.service .cta[b-oftte9c0yz] {
  align-self: flex-end;
}

@media all and (max-width:900px) {
  .services-grid[b-oftte9c0yz] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
/* /Shared/Timeline.razor.rz.scp.css */
.cd-container[b-8k0mnz79t6] {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    background: #fafbfb;
    padding: 0 10%;
    border-radius: 2px;
}

    .cd-container[b-8k0mnz79t6]::after {
        content: '';
        display: table;
        clear: both;
    }

/* --------------------------------

Main components

-------------------------------- */


#cd-timeline[b-8k0mnz79t6] {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    #cd-timeline[b-8k0mnz79t6]::before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px;
        height: 100%;
        width: 4px;
        background: #b7b7b9;
    }

@media only screen and (min-width: 1170px) {
    #cd-timeline[b-8k0mnz79t6] {
        margin-top: 3em;
        margin-bottom: 3em;
    }

        #cd-timeline[b-8k0mnz79t6]::before {
            left: 50%;
            margin-left: -2px;
        }
}

.cd-timeline-block[b-8k0mnz79t6] {
    position: relative;
    margin: 2em 0;
}

    .cd-timeline-block[b-8k0mnz79t6]:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-block:first-child[b-8k0mnz79t6] {
        margin-top: 0;
    }

    .cd-timeline-block:last-child[b-8k0mnz79t6] {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline-block[b-8k0mnz79t6] {
        margin: 4em 0;
    }

        .cd-timeline-block:first-child[b-8k0mnz79t6] {
            margin-top: 0;
        }

        .cd-timeline-block:last-child[b-8k0mnz79t6] {
            margin-bottom: 0;
        }
}

.cd-timeline-img[b-8k0mnz79t6] {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #b7b7b9, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img[b-8k0mnz79t6] {
    background: #b7b7b9;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img[b-8k0mnz79t6] {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content[b-8k0mnz79t6] {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #ececec;
    border-radius: 2px;
    padding: 1em;
    .timeline-content-info
{
    background: rgb(0 0 0 / 18%);
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    i

{
    margin-right: 5px;
}

.timeline-content-info-title[b-8k0mnz79t6], .timeline-content-info-date[b-8k0mnz79t6] {
    width: calc(50% - 2px);
    display: inline-block;
}

@media (max-width: 500px) {
    .timeline-content-info-title[b-8k0mnz79t6], .timeline-content-info-date[b-8k0mnz79t6] {
        display: block;
        width: 100%;
    }
}

}

.content-skills[b-8k0mnz79t6] {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li

{
    background: #40484D;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    color: rgba(255,255,255,0.7);
    margin: 3px 2px;
    text-align: center;
    flex-grow: 1;
}

}
}

.cd-timeline-content[b-8k0mnz79t6]:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2[b-8k0mnz79t6] {
    color: rgba(0,0,0,1);
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p[b-8k0mnz79t6], .cd-timeline-content .cd-date[b-8k0mnz79t6] {
    color: rgba(0,0,0,1);
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date[b-8k0mnz79t6] {
    display: inline-block;
}

.cd-timeline-content p[b-8k0mnz79t6] {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content[b-8k0mnz79t6]::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #969698;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2[b-8k0mnz79t6] {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p[b-8k0mnz79t6] {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more[b-8k0mnz79t6], .cd-timeline-content .cd-date[b-8k0mnz79t6] {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content[b-8k0mnz79t6] {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%
    }

        .cd-timeline-content[b-8k0mnz79t6]::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: #333C42;
        }

        .cd-timeline-content .cd-date[b-8k0mnz79t6] {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            font-size: 16px;
            font-size: 1rem;
        }

    .cd-timeline-block:nth-child(even) .cd-timeline-content[b-8k0mnz79t6] {
        float: right;
    }

        .cd-timeline-block:nth-child(even) .cd-timeline-content[b-8k0mnz79t6]::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #333C42;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more[b-8k0mnz79t6] {
            float: right;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date[b-8k0mnz79t6] {
            left: auto;
            right: 122%;
            text-align: right;
        }
}
/* /Shared/Tools.razor.rz.scp.css */


.container[b-qj5k0np2kg] {

   
    display: flex;
    justify-content: center;
    align-items: center
}

.card1[b-qj5k0np2kg] {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s
}

.circle[b-qj5k0np2kg] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #b3b6b6;
    overflow: hidden;
    border-radius: 10px;
    z-index: 5
}

    .circle[b-qj5k0np2kg]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b3b6b6;
        clip-path: circle(120px at 50% 50%);
        transition: 0.9s;
        z-index: 10
    }

.card1:hover .circle[b-qj5k0np2kg]::before {
    clip-path: circle(400px at 50% 50%)
}

.card1 img[b-qj5k0np2kg] {
    z-index: 10;
    position: absolute;
    transition: 0.5s;
    pointer-event: none
}

.card1:hover img[b-qj5k0np2kg] {
    height: 100px;
    width: 100px;
    top: -20%;
    right: -20%
}

.card1 .content[b-qj5k0np2kg] {
    position: absolute;
    opacity: 0;
    color: #fff;
    top: 40px;
    width: 200px;
    left: 20px;
    z-index: 20;
    transition: 0.4s
}

.content p[b-qj5k0np2kg] {
    font-size: 13px
}

.content button[b-qj5k0np2kg] {
    width: 90px;
    height: 35px;
    border: none;
    background-color: #0000ffb8;
    color: #fff;
    font-size: 14px;
    border-radius: 4px
}

    .content button:hover[b-qj5k0np2kg] {
        background-color: blue
    }

.card1:hover .content[b-qj5k0np2kg] {
    opacity: 1
}
@media screen and (max-width: 768px){
.grid-cols-3[b-qj5k0np2kg] {
    margin-left: 55px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
}
